.story{
    width:75%;
    margin: 0 auto;
    @include sombra;
    background-color:rgba($white, .4);
    @include borda-arredondada;
    padding: 6rem 9rem;
    font-size: $default-font-size;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

    &__shape{
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        margin-right: 4rem;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    &__img{
        height: 100%;
        transform: scale(1.4);
        transition: .4s;
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        color:$white;
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        transition: .4s;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img{
        transform: scale(1);
        filter: blur(3px) brightness(80%) grayscale(1);
    }
    
}